form(action=(arcadeGame ? `/arcadeGames/update` : "/arcadeGames"), method="POST")
  if arcadeGame
    input(type="hidden", name="id", value=arcadeGame.id)

  .form-group
    label Title
    input.form-control(name="arcadeGame[title]", required, value=(arcadeGame ? arcadeGame.title : null))

  .form-group
    label Content
    textarea.form-control(name="arcadeGame[content]")
      = arcadeGame ? arcadeGame.content : null
  
  .form-group
    button.btn.btn-dark(type="submit") Submit