extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th
        
        tbody
          each resource in resources
            tr
              td
                a(href=`/resources/${resource.id}`)= resource.title
              td
                a(href=`/resources/${resource.id}/edit`) edit
                = ` | `
                form.destroy(action=`/resources/destroy`, method="POST", onsubmit='return confirm("Are you sure you wish to destroy this beautiful resource?")')
                  input(type="hidden", name="id", value=`${resource.id}`)
                  input.destroy(type="submit", value="destroy")
          
