/* Photo by Sean Foley on Unsplash */
html,
body {
  height: 100%;
  width: 100%;
  background: url('/images/background.jpg');
  background-size: cover;
}

body::-webkit-scrollbar {
  overflow-y: auto;
  width: 0px;
}

.max-height {
  height: 100%;
}

.card.objective {
  width: 100% !important;
}

.flexit {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.tasks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.tasks>li {
  max-width: 31%;
  height: 250px;
  overflow-y: auto;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.tasks>li::-webkit-scrollbar {
  width: 10px;
}

.tasks>li::-webkit-scrollbar-track {
  background-color: transparent !important;
  background-image: linear-gradient(to right, rgba(44, 62, 80, 1.0), rgba(155, 89, 182, 0.2));
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
  border: 1px solid #fff5f6;
  box-shadow: 0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
  border-radius: 5px;
}

.tasks>li::-webkit-scrollbar-thumb {
  transition: 0.5s;
  border: 1px solid #fff5f6;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
  border-radius: 5px;
}

.tasks>li::-webkit-scrollbar-thumb:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 2px #393a33,
    0 0 8px #f39f0575,
    0 0 2px #f39f0575;
}

.home {
  margin-top: -60px;
  color: #ecf0f1;
}

.home header h1 {
  font-size: 5rem;
  color: #fff5f6;
  text-shadow: 0 0 5px #000,
    0 0 20px #fc1f2c75,
    0 0 10px #fc1f2c75,
    0 0 35px #fc1f2c75;
}

.home .card {
  background-color: transparent !important;
  background-image: linear-gradient(to right, rgba(44, 62, 80, 1.0), rgba(155, 89, 182, 0.2));
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
  border: 1px solid #fff5f6;
  box-shadow: 0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
}

.home .card hr {
  border-color: #fff5f6;
  box-shadow: 0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
}

.home .card .card-title {
  color: #fff5f6;
  text-shadow: 0 0 2px #000,
    0 0 10px #fc1f2c75,
    0 0 5px #fc1f2c75,
    0 0 25px #fc1f2c75;
}

.home .card .card-text h6 {
  color: #f4eee4;
  text-shadow: 0 0 2px #393a33,
    0 0 8px #f39f0575,
    0 0 2px #f39f0575;
}

.home .card .card-text p,
.home .card .card-text ul {
  color: #fdfdfd;
  text-shadow: 0 0 2px #001716,
    0 0 3px #03edf975,
    0 0 5px #03edf975,
    0 0 8px #03edf975;
}

.content {
  margin-top: 60px;
}

.destroy {
  display: inline;
}

.destroy>input[type="submit"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  color: #007bff;
}

.destroy:hover>input[type="submit"] {
  text-decoration: underline;
}

.container,
.flash {
  margin-top: 60px;
}